<div class="row">
  <div class="col-md-12">
    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid" style="max-height: 200px;">
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dropdown" appDropdown>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">To shopping list</a>
              <a class="dropdown-item" href="#">Edit Recipe</a>
              <a class="dropdown-item" href="#">Delete Recipe</a>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      Ingredients
    </div>
</div>